body, html {
    margin:0;
    padding:0;
}

.changelog__body {
    text-align: center;
    width: 1024px;
    margin-inline: auto;
}

    .changelog__header {
        font-size: 3em;
        text-align: center;
        margin-block: 10vh 5vh;
    }

        .changelog__title {
            font-weight: 500;
            margin-block: 0.5em;
        }

        .changelog__subtitle {
            font-size: 0.5em;
            color: grey;
        }

    .changelog__changes {
        margin-block: 0 5em;
        width: 100%;
        font-size: 1.5em;
    }
        .item {
            display: flex;
            align-items: center;
        }

        #lowVertical {
            padding: 2vh 3% 2vh 0;
        }

            .item__date {
                text-align: right;
                width: 35%;
                border-right: 2px solid black;
                padding: 4vh 3% 4vh 0;
            }
            .item__circle {
                min-width: 20px;
                min-height: 20px;
                height: 20px;
                width: 20px;
                background-color: black;
                border-radius: 50%;
                margin-left: -11px;
            }
            .item__change {
                text-align: left;
                padding: 0 0 0 3%;
                width: 65%;
            }

@media (max-width: 64em) {
    .changelog__body {
        width: 96%;
    }
}

@media (max-width: 48em) {
    .changelog__body {
        font-size: 0.6rem;
    }
    
    .item__circle {
        min-width: 14px;
        min-height: 14px;
        height: 14px;
        width: 14px;
        background-color: black;
        border-radius: 50%;
        margin-left: -8px;
    }
}

.bottom-button {
    background-color: black;
    color: white;
    border-radius: 12px;
    display: inline-block;
    font-size: 1.3em;
    padding: 12px 34px;
    margin: 0 0 10vh 0;
    cursor: pointer;
}

.bottom-button:hover {
    background-color: grey;
}